# Folder
/kart/
/logs/
/@extDB/
/heli/
/mark/
/curator/
/dll/
/extDB/
/keys/
/steamapps/
/.idea/
/TADST/
/addons/
/config/Users/

# Types
*.dll
*.exe
*.bin
*.rpt
*.log

# Files
steam_appid.txt
arma3server_readme.txt
AltisLife-3.1.4.8-extDB-0.txt
a3l-server.iml
desktop.ini
ACCOUNTS.md
config/arma3server_2015-05-03_13-16-57.bidmp

# Logs
A3_*.txt
