# Folder
/kart/
/logs/
/@extDB/
/heli/
/mark/
/curator/
/dll/
/extDB/
/keys/
/steamapps/
/.idea/
/TADST/
/addons/
/config/Users/

# Types
*.dll
*.exe
*.bin
*.rpt
*.log
*.iml
*.bidmp
*.mdmp

# Files
steam_appid.txt
arma3server_readme.txt
AltisLife-3.1.4.8-extDB-0.txt
desktop.ini
ACCOUNTS.md

# Temp
*.tmp
__cur_mp.pbo

# Logs
A3_*.txt
